*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.idea/caches/
/.idea/caches/deviceStreaming.xml
/.idea/inspectionProfiles/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/app/src/test/snapshots/
/CLAUDE.md
/app/google-services.json
/essentials/build/
/domain/build/
/features/forgot_password/build/
/features/edit_email/build/
/features/user_details/build/
/features/friends/build/
/features/add_friend/build/
/features/welcome/build/
/features/sign_up/build/
/features/edit_bio/build/
/features/user_friends/build/
/features/notifications/build/
